@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i,900');
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
	background: #fff;
	-webkit-border-radius: 0;
	        border-radius: 0;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.question-item {
    padding: 20px 180px 20px 80px;
    background-color: #eef4f9;
    margin: 15px 0;
}
.question-title a {
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    &:hover{
    	text-decoration: none;
    	color: #2196F3;
    }
}
.flex{
    display: flex;
}
.answer-post{
    padding:8px;
}
.section-title h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #333333;
}
.correct{
    color: #83b541;
}
hr{
    margin-bottom:10px;
    margin-top:10px;
}
.col-md-4 a{
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover{
        text-decoration: none;
    }
}
.sub-content {
    background: #4285f4;
    height: 160px;
}



.navbar {
  position: relative;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 500px;
  background-image: url('../images/pexels-photo.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.top-promo {
  height: 155px;
  background-image: -webkit-linear-gradient(270deg, #2851b4, #2851b4);
  background-image: linear-gradient(180deg, #2851b4, #2851b4);
  margin-bottom: 20px;
}

.containerise {
  display: block;
}

.containerize {
  display: block;
  width: 1200px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  height: 154px;
}

.image {
  height: auto;
}

.heading {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 24px;
}

.text-block {
  color: #fff;
  font-size: 16px;
}

.div-block {
  height: 154px;
  background-image: url('blog-header.png');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.button {
  margin-top: 37px;
  padding: 30px;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(270deg, #3dc01b, #3dc01b);
  background-image: linear-gradient(180deg, #3dc01b, #3dc01b);
}
.mar50{
    margin-top: 50px;
}