@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i,900');
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
	background: #fff;
	-webkit-border-radius: 0;
	        border-radius: 0;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.question-item {
    padding: 20px 180px 20px 80px;
    background-color: #eef4f9;
    margin: 15px 0;
}
.question-title a {
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    &:hover{
    	text-decoration: none;
    	color: #2196F3;
    }
}
.flex{
    display: flex;
}
.answer-post{
    padding:8px;
}
.section-title h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #333333;
}
.correct{
    background: #83b541;
}
hr{
    margin-bottom:10px;
    margin-top:10px;
}
.col-md-4 a{
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover{
        text-decoration: none;
    }
}
.sub-content {
    background: #4285f4;
    height: 160px;
}